<div style="width: 800px; height:370px;" id="carouselExampleSlidesOnly" data-interval="2000" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/404/1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/2.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/3.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/4.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/5.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/6.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/7.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/8.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/9.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/10.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/11.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/12.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/13.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/14.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/15.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/16.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/17.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/18.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/19.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/20.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/21.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/22.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/23.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/24.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/25.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/26.gif" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/27.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/28.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/29.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/30.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/31.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/32.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/404/33.jpg" alt="Third slide">
    </div>
  </div>
</div>
