<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="javascript.void()" routerLinkActive="active" routerLink="read">Read</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript.void()"  routerLinkActive="active" routerLink="create">Create</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript.void()" routerLinkActive="active" routerLink="update">Update</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript.void()" routerLinkActive="active" routerLink="delete">Delete</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript.void()" routerLinkActive="active" routerLink="test">Test</a>
  </li>
</ul>
